<form method="post" action="{{ path('companies_delete', {'id': company.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette société');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
