{% extends 'base.html.twig' %}

{% block title %}Modifier la société{% endblock %}

{% block body %}
    <h1>Modifier la société</h1>
    <div class="mb-3">
        {{ include('companies/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class="mb-3">
        {{ include('companies/_delete_form.html.twig') }}
    </div>

{% endblock %}
