{% extends 'base.html.twig' %}

{% block title %}Société{% endblock %}

{% block body %}
    <h1>Société</h1>

    <table class="table table-primary w-25">
        <tbody>
            <tr>
                <th>Nom de la société</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ company.address }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('companies_edit', {'id': company.id}) }}">modifier</a>

    <div class="mb-3">
        {{ include('companies/_delete_form.html.twig') }}
    </div>

{% endblock %}
