<table class="table">
    <tbody>
    <tr>
        <th>Nom de la société</th>
        <td>{{ company.name }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ company.address }}</td>
    </tr>
    </tbody>
</table>

<a href="{{ path('userHome') }}">revenir à l'espace personnel</a>
