<table class="table">
    <tbody>
    <tr>
        <th>Name</th>
        <td>{{ company.name }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ company.address }}</td>
    </tr>
    </tbody>
</table>
