{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    <h1>Edit Users</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/_delete_form.html.twig') }}

    <a href="{{ path('admin_index') }}">revenir à l'espace d'administration</a>
{% endblock %}
