{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>Nouveau consultant</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_index') }}">Liste des utilisateurs</a>
{% endblock %}
