{% extends 'base.html.twig' %}

{% block title %}Modifier l'offre{% endblock %}

{% block body %}
    <h1>Modifier l'offre</h1>

    {{ include('jobs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('jobs/_delete_form.html.twig') }}

    <a href="{{ path('userHome') }}">revenir à l'espace personnel</a>
{% endblock %}
