{% extends 'base.html.twig' %}

{% block title %}New Jobs{% endblock %}

{% block body %}
    <h1>Nouvel offre d'emploi</h1>

    {{ include('jobs/_form.html.twig') }}

    <a href="{{ path('userHome') }}">revenir à l'espace personnel</a>
{% endblock %}
