<table class="d-flex table table-primary  mt-5">
    <tbody>
    <tr>
        <th>Nom</th>
        <td>{{ user.lastname }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ user.firstname }}</td>
    </tr>
    <tr>
        <th>Adresse email</th>
        <td>{{ user.email }}</td>
    </tr>
    </tbody>
</table>
<a href="{{ path('userHome') }}">revenir à l'espace personnel</a>
